.App {
  text-align: center;

  clear: both;
}
.MobileBar {
  width: 100%;

  position: fixed;

  display: block;
  opacity: 1;
  background-color: white;
  z-index: 1000;
}
.MobileBlock {
  width: 100%;

  padding-top: 120px;

  z-index: 1;
  clear: both;
  height: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;

  /* padding: 8px; */
}

tr:nth-child(even) {
  background-color: #dddddd;
}
