.App {
  text-align: center;
  max-width: 845px;
  clear: both;

  float: left;
}
.MobileBar {
  width: 100%;
  max-width: 345px;

  position: fixed;

  display: block;
  opacity: 1;
  background-color: white;
  z-index: 1000;
}
.MobileBlock {
  width: 100%;
  max-width: 345px;
  padding-top: 40%;

  display: block;

  z-index: 1;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;

  /* padding: 8px; */
}

tr:nth-child(even) {
  background-color: #dddddd;
}
