.App {
  text-align: center;

  clear: both;
}
.MobileBar {
  width: 100%;

  position: relative;

  display: block;
  opacity: 1;
  background-color: white;
  z-index: 1000;
  clear: both;
}
.MobileBlock {
  width: 100%;
  z-index: 1;
  height: auto;
}
.TempDrawer {
  width: 100%;
  position: relative;
  display: block;
  opacity: 1;
  z-index: 1000;
  background-color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;

  /* padding: 8px; */
}

tr:nth-child(even) {
  background-color: #dddddd;
}
ul.list li {
  width: auto;
  float: left;
  list-style: none;
}
.list {
  list-style: none;
  display: inline-block;
}
.descAndGrape {
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008cba;
}
